$bg-color: #f5f7fb;
$text-color: #293264;
$text-color-60: rgba(
  $color: $text-color,
  $alpha: 0.6,
);
$action-btn-bg: #4d5b9e;
$answer-selected-bg: #d6dbf5;
$answer-correct-bg: #94d7a2;
$answer-wrong-bg: #f8bcbc;
$divider-color: #dbdef0;
